* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

.header {
  background-color: orange;
  display: grid;
  place-items: center;
  grid-column: 1/4;
  height: 4rem;
}

.sidebar {
  background-color: yellow;
  display: grid;
  place-items: center;
  grid-row: 2/4;
}

.content-1 {
  background-color: red;
  display: grid;
  place-items: center;
  grid-column: 2/4;
}

.content-2,
.content-3 {
  background-color: violet;
  display: grid;
  place-items: center;
}



.footer {
  background-color: orange;
  display: grid;
  place-items: center;
  grid-column: 1/4;
  height: 4rem;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4rem 1fr 1fr 4rem;
  gap: 5px;
}